footer{
    background-color:#F38610;

     img {
        width: 100px;
        height: 100px;
    }

    .navbar{
        background-color:#F38610; 
        font-family: "Neon80"; 
        line-height: medium;

        li a{
            font-size: 10px;
            color: white;
        }
        
    }

}