/*======================================
                le Jury         
======================================*/
#jury{
    color: black;
    margin-bottom:60px;
    h1{
        margin : 50px 0px 20px 0px;
    }
    p{
        margin-bottom: 40px;
    }
}

.jury{
    background-color: white;
    color:black;
    margin-left: 10px;
    padding: 0px !important;

    &:hover{
        transform: scale(1.1);
    }

    .click;
    .transitions;
    .boxShadow;

    .Text_wrapper{
        padding: 10px;
    }

    .Image_wrapper{
        overflow: hidden;
        text-align: center;
    }
    img {
        min-width: 100%;
        min-height: 100%;
    }
}